{% extends 'portfolio/base_portfolio.html' %}
{% load static %}
{% block content %}
<div class="body__portfolio">
	<div class="container__portfolio">
		<div class="portfolio">	
			<div class="slider">
				{% for video in videos %}
				<div class="slider__item">
					<a href="{{ video.get_absolute_url }}"><video src="{{ video.body.url }}" controls="controls" width="800" height="500" class="media__element"></video></a>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="container arrows">
			<button class="prev"></button>
			<button class="next"></button>
		</div>
	</div>
</div>
{% endblock %}