{% extends 'portfolio/base_portfolio.html' %}
{% load static %}
{% block content %}
<div class="body__portfolio">
	<div class="container__portfolio">
		<div class="background"></div>
		<div class="portfolio">	
			<div class="slider">
				{% for image in images %}
				<div class="slider__item">
					<a href="{{ image.get_absolute_url }}"><img src="{{ image.body.url }}" alt="{{ uploadimg.title }}"></a>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="container arrows">
			<a href="#" class="prev"></a>
			<a href="#" class="next"></a>
		</div>
	</div>
</div>
{% endblock %}
