html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
main {
	flex: 1 0 auto;
	display: flex;
	justify-content: center; 
    align-items: center;
}
*,*:before,*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
.container {
	max-width: 1200px;
	margin: 0px auto;
	padding: 0px 160px;
}

/* PRELOADER */
.preloader {
  	display: flex;
  	width: 100%;
  	height: 100%;
  	align-items: center;
  	justify-content: center;
  	position: fixed;
  	z-index: 1000;
  	background-color: white;
}
@keyframes dots {
  	0%,
  	100% {
    	color: black;
    	transform: translateY(0);
  	}
  	50% {
    	color: #3AB493;
    	transform: translateY(20px);
  	}
}
.preloader span {
  	--delay: 0s;
  	animation: dots 1s var(--delay) infinite ease-in;
}
/*HEADER*/
.header {
	position: relative;
	top: 15px;
	left: 0;
	z-index: 50;
	flex: 1 0 auto;
	max-height: 50px;
	overflow: hidden;
}
.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
}
.header__name {
	text-decoration: none;
	color: #282826;
	position: relative;
	z-index: 3;
	transform: scale(1) translateX(-1500px);
	transition: all 1s ease 0s;
}
.header__menu {
	transform: scale(1) translateX(1500px);
	transition: all 1s ease 0s;
}
.header__list {
	display: flex;
	position: relative;
}
.header__list .header__link {
	list-style: none;
	margin: 0px 0px 0px 20px;
}
.link {
	color: #282826;
	text-decoration: none;
	outline: none;
}
.header__link:hover {
	transform: scale(1.05);
	transition: all 1s ease
}
.header__name:hover {
	transform: scale(1.05);
	transition: all 1s ease
}
@media (min-width: 2000px) {
	.header {
		font-size: 20px;
	}
	.header__name {
		margin-right: 30px;
	}
	.container {
		max-width: 1200px;
	}
}
@media (max-width: 1800px) {
	body {
    	transform: scale(0.95);
	}
	main {
		max-height: 750px;
	}
	.preloader {
		transform: scale(1.1);
	}
}
@media (max-width: 1600px) {
	body {
    	transform: scale(0.9);
	}
	main {
		max-height: 700px;
	}
	.preloader {
		transform: scale(1.2);
	}
}
@media (max-width: 1400px) {
	body {
    	transform: scale(0.8);
	}
	main {
		max-height: 600px;
	}
	.preloader {
		transform: scale(1.4);
	}
}
@media (max-width: 1200px) {
	body {
    	transform: scale(0.7);
	}
	main {
		max-height: 500px;
	}
	.preloader {
		transform: scale(1.6);
	}
	.header__name {
		font-size: 16px;
	}
	.header__link {
		font-size: 16px;
	}
}
@media (max-width: 1050px) {
	body {
    	transform: scale(0.6);
	}
	main {
		max-height: 400px;
	}
	.preloader {
		transform: scale(1.8);
	}
	.header__name {
		font-size: 13px;
	}
	.header__link {
		font-size: 13px;
	}
}
/*MAIN*/
.container_2 {
	max-width: 1700px;
}
.main__page {
	display: flex;
	position: relative;
	margin: 50px 50px 50px 50px;
	overflow: hidden;
}
.last__life {
	position: relative;
	margin-right: 15px;
	flex: 1 1 50%;
	transform: scale(1) translateX(-1500px);
	transition: all 1s ease 0s;
}
.last__life img {
	max-width: 100%;
}
.text_1 {
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 0.85vw;
	padding: 15px;
	opacity: 1;
	background: linear-gradient(to right, 
		rgba(0, 0, 0, 0.3), 
		rgba(0, 0, 0, 0.8) 20%, 
		rgba(0, 0, 0, 0.8) 80%, 
		rgba(0, 0, 0, 0.3));
	transition: all 2s ease 0s;
}
.story_1 {
	max-width: 75%;
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    background: linear-gradient(to right, 
    	rgba(0, 0, 0, 0.3), 
    	rgba(0, 0, 0, 0.8) 20%, 
    	rgba(0, 0, 0, 0.8) 80%, 
    	rgba(0, 0, 0, 0.3));
    transition: all 2s ease 0s;
}
.story_1 p {
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 0.9vw;
	line-height: 1.5;
	padding: 40px;
}
.new__life {
	display: flex;
	flex-direction: column; 
	flex: 0 0 32.45%;
}
.new__life_1 {
	position: relative;
	margin-bottom: 15px;
	transform: scale(1) translateY(-1500px);
	transition: all 1s ease 0s;
}
.text_2 {
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 0.85vw;
	padding: 5px;
	opacity: 1;
	background: linear-gradient(to right, 
		rgba(0, 0, 0, 0.3), 
		rgba(0, 0, 0, 0.8) 20%, 
		rgba(0, 0, 0, 0.8) 80%, 
		rgba(0, 0, 0, 0.3));
	transition: all 2s ease 0s;
}
.story_2 {
	max-width: 75%;
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    opacity: 0;
	background: linear-gradient(to right, 
		rgba(0, 0, 0, 0.3), 
		rgba(0, 0, 0, 0.8) 20%, 
		rgba(0, 0, 0, 0.8) 80%, 
		rgba(0, 0, 0, 0.3));
    transition: all 2s ease 0s;
}
.story_2 p {
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 0.85vw;
	padding: 10px;
	margin: 15px;
}
.new__life_1 img {
	max-width: 100%;
}
.new__life_2 {
	position: relative;
	transform: scale(1) translateY(1500px);
	transition: all 1s ease 0s;
}
.text_3 {
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 0.85vw;
	padding: 5px;
	opacity: 1;
	background: linear-gradient(to right, 
		rgba(0, 0, 0, 0.3), 
		rgba(0, 0, 0, 0.8) 20%, 
		rgba(0, 0, 0, 0.8) 80%, 
		rgba(0, 0, 0, 0.3));
	transition: all 2s ease 0s;
}
.story_3 {
	max-width: 75%;
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    background: linear-gradient(to right, 
    	rgba(0, 0, 0, 0.3), 
    	rgba(0, 0, 0, 0.8) 20%, 
    	rgba(0, 0, 0, 0.8) 80%, 
    	rgba(0, 0, 0, 0.3));
    transition: all 2s ease 0s;
}
.story_3 p {
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 0.85vw;
	padding: 10px;
	margin: 10px;
}
.new__life_2 img {
	max-width: 100%;
}
.last__life:hover .text_1 {
	opacity: 0;
	transition: all 1s ease 0s;
}
.last__life:hover .story_1 {
	opacity: 1;
	transition: all 1s ease 0s;
}
.new__life_1:hover .text_2 {
	opacity: 0;
	transition: all 1s ease 0s;
}
.new__life_1:hover .story_2 {
	opacity: 1;
	transition: all 1s ease 0s;
}
.new__life_2:hover .text_3 {
	opacity: 0;
	transition: all 1s ease 0s;
}
.new__life_2:hover .story_3 {
	opacity: 1;
	transition: all 1s ease 0s;
}
.story__link {
	color: white;
}
@media (min-width: 2100px) {
	.container_2 {
		max-width: 2500px;
	}
	.text_1 {
		font-size: 20px;
	}
	.story_1 p {
		font-size: 20px;
	}
	.text_2 {
		font-size: 20px;
	}
	.story_2 p {
		font-size: 20px;
	}
	.text_3 {
		font-size: 20px;
	}
	.story_3 p {
		font-size: 20px;
	}
}
@media (max-width: 2000px) {
	.container_2 {
		max-width: 1700px;
	}
}
@media (max-width: 1600px) {
	.new__life {
		flex: 0 0 32.35%;
	}
}
@media (max-width: 1440px) {
	.new__life {
		flex: 0 0 32.26%;
	}
}
@media (max-width: 1280px) {
	.new__life {
		flex: 0 0 32.11%;
	}
	.story_1 p {
		font-size: 0.84vw;
	}
	.story_2 p {
		font-size: 0.83vw;
		margin: 13px;
		padding: 11px;
	}
	.story_3 p {
		font-size: 0.84vw;
		margin: 9px;
		padding: 9px;
	}
}
@media (max-width: 1180px) {
	.new__life {
		flex: 0 0 32%;
	}
}
@media (max-width: 1130px) {
	.story_1 p {
		font-size: 0.83vw;
	}
	.story_2 p {
		font-size: 0.82vw;
		margin: 11px;
		padding: 9px;
	}
	.story_3 p {
		font-size: 0.83vw;
		margin: 8px;
		padding: 8px;
	}
}
@media (max-width: 1080px) {
	.new__life {
		flex: 0 0 31.85%;
	}
}
@media (max-width: 1030px) {
	.story_1 p {
		font-size: 0.82vw;
	}
	.story_2 p {
		font-size: 0.81vw;
		margin: 10px;
		padding: 8px;
	}
	.story_3 p {
		font-size: 0.82vw;
		margin: 7px;
		padding: 7px;
	}
}
@media (max-width: 980px) {
	.new__life {
		flex: 0 0 31.65%;
	}
}
/*PORTFOLIO*/
.body__portfolio {
	max-width: 100%;
	padding: 0px 50px 0px 50px;
	overflow: hidden;
}
.portfolio {
	overflow: hidden;
	transform: translateX(-1500px);
	transition: all 1s ease 0s;
}
.slider {
	display: flex;
	transition: all 1s ease 0s;
}
.slider__item {
	height: 500px;
	padding: 10px 10px 10px 10px;
	transition: all 1s ease 0s;
  	outline: none;
}
.slider__item img {
	max-width: 1000px;
  	height: 100%;
}
.arrows {
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0px auto;
	padding: 0px 160px;
	transform: translateY(1500px);
	transition: all 1s ease;
}
.arrows .prev {
	background: url('img/bck.png') 0 0 / 70% no-repeat;
	padding: 50px 50px 50px 50px;
	transform: scale(1);
	transition: all 1s ease 0s;
}
.arrows .next {
	background: url('img/frwd.png') 0 0 / 70% no-repeat;
	padding: 50px 50px 50px 50px;
	transform: scale(1);
	transition: all 1s ease 0s;
}
.arrows .prev:hover {
	transform: scale(0.95);
	transition: all 1s ease 0s;
}
.arrows .next:hover {
	transform: scale(0.95);
	transition: all 1s ease 0s;
}
.arrows .prev,.prev:active,.prev:focus {
	outline: none;
}
.arrows .next,.next:active,.next:focus {
	outline: none;
}
.portfolio__image img {
	max-width: 100%;
	max-height: 600px;
}
@media (max-width: 1600px) {
	.slider__item {
  		height: 400px;
	}
	.arrows .prev {
		background: url('img/bck.png') 0 0 / 65% no-repeat;
	}
	.arrows .next {
		background: url('img/frwd.png') 0 0 / 65% no-repeat;
	}
}
@media (max-width: 1400px) {
	.slider__item {
  		height: 300px;
	}
	.arrows {
		max-height: 80px;
	}
	.arrows .prev {
		background: url('img/bck.png') 0 0 / 60% no-repeat;
	}
	.arrows .next {
		background: url('img/frwd.png') 0 0 / 60% no-repeat;
	}
}
@media (max-width: 1200px) {
	.slider__item {
  		height: 250px;
	}
	.arrows {
		max-height: 60px;
	}
	.arrows .prev {
		background: url('img/bck.png') 0 0 / 45% no-repeat;
	}
	.arrows .next {
		background: url('img/frwd.png') 0 0 / 45% no-repeat;
	}
}
/*BLOG*/
.container__blog {
	max-width: 1700px;
	display: flex;
	justify-content: center; 
	flex-wrap: wrap;
	font-family: 'Montserrat', sans-serif;
	overflow: hidden;
}
.blog {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 25%;
	margin: 40px 40px 40px 40px;
	padding: 20px 20px 20px 20px;
	border: 1px solid #999;
	border-radius: 10px;
	font-size: 0.95vw;
	color: white;
	background: url('img/code8.jpg') 0 0 / cover no-repeat;
}
.read__post {
	padding: 20px 20px 20px 20px;
}
.read__post a {
	outline: none;
	text-decoration: none;
	color: white;
}
.read__post a button {
	width: 40px
	border: 0;
  	border-radius: 5px;
  	background: #008000;
  	color: #fff;
  	padding: 8px 16px;
  	font-size: 0.95vw;
  	transform: scale(1);
  	transition: all 1s ease 0s;
}
.read__post a button:hover {
	transform: scale(1.05);
	transition: all 1s ease 0s;
}
.container__post {
	overflow: hidden;
}
.post {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 40px 40px 40px 40px;
	padding: 20px 20px 20px 20px;
	border: 1px solid #999;
	border-radius: 10px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	background: url('img/code8.jpg') 0 0 / 100% no-repeat, rgba(0, 0, 0, 0.8);
	transform: translateX(1500px);
	transition: all 1s ease 0s;
}
.post_1 {
	padding: 10px 10px 10px 10px;
	background: rgba(0, 0, 0, 0.6);
}
.container__blog .blog:nth-child(1) {
	transform: translateY(-1500px);
	transition: all 1s ease 0s;
}
.container__blog .blog:nth-child(2) {
	transform: translateY(1500px);
	transition: all 1s ease 0s;
}
.container__blog .blog:nth-child(3) {
	transform: translateX(1500px);
	transition: all 1s ease 0s;
}
.container__blog .blog:nth-child(4) {
	transform: translateY(1500px);
	transition: all 1s ease 0s;
}
@media (min-width: 2000px) {
	.container__blog {
		max-width: 5000px;
	}
	.blog {
		font-size: 20px;
	}
}
/*CONTACTS*/
.backgroundForContacts {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	display: none;
   	grid-template-columns: repeat(2, 1fr);
}
.first__part {
	background: url('img/left.jpg') 0 0 / cover no-repeat;
	transform: translateX(1500px);
	transition: all 1s ease 0s;
}
.second__part {
	background: url('img/right.jpg') 0 0 / cover no-repeat;
	transform: translateX(-1500px);
	transition: all 1s ease 0s;
}
.contacts {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.contacts_2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9vw;
	color: white;
}
.contacts_2 p {
	padding: 3% 0px 3% 0px;
}
.contacts_2 p:nth-child(1) {
	transform: translateX(1500px);
	transition: all 1s ease 0s;
}
.contacts_2 p:nth-child(2) {
	transform: translateX(-1500px);
	transition: all 1s ease 0s;
}
.contacts_2 p:nth-child(3) {
	transform: translateX(1500px);
	transition: all 1s ease 0s;
}
.contacts_2 p:nth-child(4) {
	transform: translateX(-1500px);
	transition: all 1s ease 0s;
}
/*UPLOAD FOTO IN PORTFOLIO, CREATE POST IN BLOG, UPDATE POST IN BLOG*/
.form__container {
	max-width: 40%;
	width: 100%;
}
.upload__form {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}
.title__style {
	border: 1px solid #ccc; 
    border-radius: 5px;
    width: 100%;
    height: 50px;
    margin: 40px 40px 40px 0;
}
.body__style {
	margin-left: 40px;
}
.post__title__style {
	border: 1px solid #ccc; 
    border-radius: 5px;
    width: 100%;
    height: 25px;
    margin: 40px 40px 40px 0;
}
.post__body__style {
	border: 1px solid #ccc; 
    border-radius: 5px;
    width: 100%;
    height: 100px;
    margin: 40px 40px 40px 0;
}
.upload__form button {
	margin-top: 60px;
  	border: 0;
  	border-radius: 5px;
  	background: #000;
  	color: #fff;
  	padding: 8px 16px;
  	font-size: 16px;
	transform: scale(1);
  	transition: all 1s ease 0s;
}
.error {
	margin-top: 20px;
	list-style: none;
	color: red;
}	
.upload__form button:hover {
	transform: scale(1.05);
	transition: all 1s ease 0s;
}
.upload__form button:focus {
	outline: none;
  	box-shadow: 0 0 0 4px #cbd6ee;
}
/*ADMIN PANEL*/
.admin__panel {
	display: flex;
	flex-direction: column;
	position: fixed;
	border: 1px solid #999;
	border-radius: 2px;
	right: 50px;
	bottom: 30px;
	padding: 15px;
	opacity: 0.5;
}
.admin__panel:hover {
	opacity: 1;
}
.admin__panel a {
	margin: 5px 0;
}
.admin__panel .button__admin button{
	width: 100px;
	border: 0;
  	border-radius: 5px;
  	background: #008000;
  	color: #fff;
  	padding: 8px 16px;
  	font-size: 16px;
}
.admin__panel .button__admin button:hover {
	opacity: 0.6;
}
.admin__panel .button__admin button:focus {
	outline: none;
  	box-shadow: 0 0 0 4px #cbd6ee;
}
.admin__panel .button__upload {
	display: none;
}
.admin__panel .button__upload button {
	width: 100px;
	border: 0;
  	border-radius: 5px;
  	background: #0000ff;
  	color: #fff;
  	padding: 8px 16px;
  	font-size: 16px;
}
.admin__panel .button__upload button:hover {
	opacity: 0.6;
}
.admin__panel .button__upload button:focus {
	outline: none;
  	box-shadow: 0 0 0 4px #cbd6ee;
}
.admin__panel .button__edit {
	display: none;
}
.admin__panel .button__edit button {
	width: 100px;
	border: 0;
  	border-radius: 5px;
  	background: #0000ff;
  	color: #fff;
  	padding: 8px 16px;
  	font-size: 16px;
}
.admin__panel .button__edit button:hover {
	opacity: 0.6;
}
.admin__panel .button__edit button:focus {
	outline: none;
  	box-shadow: 0 0 0 4px #cbd6ee;
}
.admin__panel .button__delete {
	display: none;
}
.admin__panel .button__delete button {
	width: 100px;
	border: 0;
  	border-radius: 5px;
  	background: #ff0000;
  	color: #fff;
  	padding: 8px 16px;
  	font-size: 16px;
}
.admin__panel .button__delete button:hover {
	opacity: 0.6;
}
.admin__panel .button__delete button:focus {
	outline: none;
  	box-shadow: 0 0 0 4px #cbd6ee;
}
/*DELETE FOTOS AND POSTS*/
.delete__form {
    font-family: 'Montserrat', sans-serif;
}
.delete__form .button__cancel button {
	margin-top: 60px;
  	border: 0;
  	border-radius: 5px;
  	background: #000;
  	color: #fff;
  	padding: 8px 16px;
  	font-size: 16px;
}
.delete__form .button__cancel button:hover {
	opacity: 0.6;
}
.delete__form button {
	width: 100px;
	border: 0;
  	border-radius: 5px;
  	background: #ff0000;
  	color: #fff;
  	padding: 8px 16px;
  	font-size: 16px;
  	margin-left: 10px;
}
.delete__form button:hover {
	opacity: 0.6;
}
/*FOOTER*/
.footer {
	flex: 0 0 auto;
	overflow: hidden;
}
.footer img {
	padding: 0px 15px 25px 0px;
	transform: translateY(1500px);
	transition: all 1s ease;
}
.footer a {
	text-decoration: none;
	outline: none;
	transform: translateX(-1500px);
	transition: all 1s ease;
}
.footer__link:hover img {
	transform: translateY(-5px);
	transition: all 1s ease;
}
.back__first {
	margin: 0px 0px 61px 0px;
	display: none;
	text-decoration: none;
	outline: none;
	color: white;
	font-family: 'Montserrat', sans-serif;
	transform: scale(1);
	transition: all 1s ease;
}
.back__first:hover {
	transform: scale(1.05);
	transition: all 1s ease;
}
.back__second {
	margin: 0px 0px 61px 0px;
	display: none;
	text-decoration: none;
	outline: none;
	color: white;
	font-family: 'Montserrat', sans-serif;
	transform: scale(1);
	transition: all 1s ease;
}
.back__second:hover {
	transform: scale(1.05);
	transition: all 1s ease;
}
.back__third {
	margin: 0px 0px 61px 0px;
	display: none;
	text-decoration: none;
	outline: none;
	color: white;
	font-family: 'Montserrat', sans-serif;
	transform: scale(1);
	transition: all 1s ease;
}
.back__third:hover {
	transform: scale(1.05);
	transition: all 1s ease;
}
.back__fourth {
	margin: 0px 0px 61px 0px;
	display: none;
	text-decoration: none;
	outline: none;
	color: white;
	font-family: 'Montserrat', sans-serif;
	transform: scale(1);
	transition: all 1s ease;
}
.back__fourth:hover {
	transform: scale(1.05);
	transition: all 1s ease;
}
@media (min-width: 2000px) {
	.footer {
		font-size: 25px;
	}
	.footer img {
		width: 6%;
		height: 6%;
	}
}
@media (max-width: 1600px) {
	.footer {
		font-size: 13px;
	}
}
@media (max-width: 1400px) {
	.footer {
		font-size: 12px;
	}
}
@media (max-width: 1200px) {
	.footer {
		font-size: 11px;
	}
}
@media (max-width: 1050px) {
	.footer {
		font-size: 10px;
	}
	
}