html, body {
	height: 100%;
}
body {
	background: white center / cover no-repeat;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
}
main {
	flex: 1 0 auto;
	display: flex;
	justify-content: center; 
    align-items: center;
}
*,*:before,*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
.container {
	max-width: 1200px;
	margin: 0px auto;
	padding: 0px 160px;
}
/* PRELOADER */
.preloader {
  	display: flex;
  	width: 300%;
  	height: 300%;
  	align-items: center;
  	justify-content: center;
  	position: fixed;
  	z-index: 1000;
  	background-color: white;
}
@keyframes dots {
  	0%,
  	100% {
    	color: black;
    	transform: translateY(0);
  	}
  	50% {
    	color: #3AB493;
    	transform: translateY(20px);
  	}
}
.preloader span {
  	--delay: 0s;
  	animation: dots 1s var(--delay) infinite ease-in;
}
/*ШАПКА САЙТА И ТИТУЛЬНАЯ СТРАНИЦА*/

.header {/*шапка будет зафиксирована*/
	position: relative;
	width: 100%;
	top: 15px;
	left: 0;
	z-index: 50;
	flex: 1 0 auto;
	max-height: 50px;
}
.header:before {/*создается шапка*/
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: none;
}
.header__body {/*распределение контента в шапке*/
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__name {
	text-decoration: none;
	color: #282826;
	position: relative;
	z-index: 3;
	transform: scale(1);
	transition: all 1s ease
}
.display {
	display: none;
}
.header__name h1{
	font-family: 'Montserrat', sans-serif;
}
.header__burger {
	display: none;
}
.header__menu {
	
}
.header__list {
	display: flex;
	position: relative;
}
.header__list li {
	list-style: none;
	margin: 0px 0px 0px 20px;
}
.header__link {
	transform: scale(1) translateZ(0);  
	transition: all 1s ease
}
.link {
	color: #282826;
	text-decoration: none;
	outline: none;
	font-family: 'Montserrat', sans-serif;
}
.header__link:hover {
	transform: scale(1.05);
	transition: all 1s ease
}
.header__name:hover {
	transform: scale(1.05);
	transition: all 1s ease
}
@media (max-width: 1800px){
	main {
		max-height: 750px;
	}
	body {
    	transform: scale(0.95);
	}
}
@media (max-width: 1600px){
	body {
    	transform: scale(0.9);
	}
	main {
		max-height: 700px;
	}
}
@media (max-width: 1400px){
	body {
    	transform: scale(0.8);
	}
	main {
		max-height: 600px;
	}
}
@media (max-width: 1200px){
	.header__name {
		font-size: 16px;
	}
	.header__link {
		font-size: 16px;
	}
	body {
    	transform: scale(0.7);
	}
	main {
		max-height: 500px;
	}
}
@media (max-width: 1050px){
	.header__name {
		font-size: 13px;
	}
	.header__link {
		font-size: 13px;
	}
	body {
    	transform: scale(0.6);
	}
	main {
		max-height: 400px;
	}
}
@media (max-width: 950px){/*верстка бургерного меню*/
	body.lock {
		overflow: hidden;
	}
	.header__body {
		height: 50px;
	}
	.header__name {
		font-size: 1.5vw;
	}
	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 3;
	}
	.header__burger span {
		background-color: #ac987f;
		position: absolute;
		width: 100%;
		height: 2px;
		left:0;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before,
	.header__burger:after {
		content: '';
		background-color: #ac987f;
		position: absolute;
		width: 100%;
		height: 2px;
		left:0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before {
		top: 0;
	}
	.header__burger:after {
		bottom: 0;
	}
	.header__burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header__burger.active span {
		transform: scale(0);
	}
	.header__menu {
		position: fixed;
		top: -150%;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(39,39,39,0.8);
		padding: 70px 10px 20px 10px;
		transition: all 0.3s ease 0s;
		overflow: auto;
	}
	.header__menu.active {
		top: 0;
	}
	.header__list {
		flex-direction: column;
		align-items: center;
	}
	.header__list li{
		margin: 0px 0px 20px 0px;
	}
	.header__link {
		color: #fff;
		font-family: 'Montserrat', sans-serif;
	}
}

@media (max-width: 600px) {
	.container {
		padding: 0px 50px;
	}
	.header__body {
		height: 30px;
	}
	.header__burger {
		width: 20px;
		height: 10px;
		z-index: 3;
	}
	.header__burger span {
		height: 1px;
		top: 4.45px;
	}
	.header__burger:before,
	.header__burger:after {
		height: 1px;
		left:0;
	}
	.header__burger:before {
		top: 0;
	}
	.header__burger:after {
		bottom: 0;
	}
	.header__burger.active:before {
		top: 4.5px;
	}
	.header__burger.active:after {
		bottom: 4.5px;
	}
	.header__menu {
		padding: 50px 10px 20px 10px;
	}
}

@media (max-width: 360px) {
	.header__body {
		height: 25px;
	}
}

/*РАЗДЕЛ ГЛАВНАЯ СТРАНИЦА*/
.container_2 {
	max-width: 1700px;
	
}
.main__page {
	display: flex;
	position: relative;
	margin: 50px 50px 50px 50px;
}
.last__life {
	position: relative;
	flex: 1 1 50%;
	transform: scale(1);
	transition: all 1s ease 0s;
	margin-right: 15px;
}
.last__life img {
	max-width: 100%;
}
.text_1 {
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	font-family: 'Montserrat', sans-serif;
	color: white;
	padding: 15px;
	opacity: 1;
	background: rgb(0, 0, 0, 0.65);
	transition: all 7s ease 0s;
	font-size: 0.85vw;
}
.story_1 {
	position: absolute;
	max-width: 75%;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.story_1 p {
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 0.85vw;
	padding: 15px;
	margin: 15px;
}
.story_1_1 {
	opacity: 0;
	background: linear-gradient(to right, black 0%, transparent 100%);
	transition: all 5.4s ease 0s;
}
.story_1_2 {
	opacity: 0;
	background: linear-gradient(to right, black 10%, transparent 100%);
	transition: all 4.5s ease 0s;
}
.story_1_3 {
	opacity: 0;
	background: linear-gradient(to right, black 20%, transparent 100%);
	transition: all 3.8s ease 0s;
}
.story_1_4 {
	opacity: 0;
	background: linear-gradient(to right, black 30%, transparent 100%);
	transition: all 3.1s ease 0s;
}
.story_1_5 {
	opacity: 0;
	background: linear-gradient(to right, black 40%, transparent 100%);
	transition: all 2.4s ease 0s;
}
.story_1_6 {
	opacity: 0;
	background: linear-gradient(to right, black 50%, transparent 100%);
	transition: all 1.7s ease 0s;
}
.story_1_7 {
	opacity: 0;
	background: linear-gradient(to right, black 60%, transparent 100%);
	transition: all 1s ease 0s;
}
.story_1_8 {
	opacity: 0;
	background: linear-gradient(to right, black 70%, transparent 100%);
	transition: all 0.3s ease 0s;
}
.new__life {
	display: flex;
	flex-direction: column; 
	flex: 0 0 32.45%;
}
.new__life_1 {
	position: relative;
	transform: scale(1);
	transition: all 1s ease 0s;
	margin-bottom: 15px;
}
.text_2 {
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	font-family: 'Montserrat', sans-serif;
	color: white;
	padding: 5px;
	opacity: 1;
	background: rgb(0, 0, 0, 0.65);
	transition: all 7s ease 0s;
	font-size: 0.85vw;
}
.story_2 {
	position: absolute;
	max-width: 100%;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	
}
.story_2 p {
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 0.85vw;
	padding: 10px;
	margin: 15px;
}
.story_2_1 {
	opacity: 0;
	background: linear-gradient(to right, black 10%, transparent 100%);
	transition: all 2.4s ease 0s;
}
.story_2_2 {
	opacity: 0;
	background: linear-gradient(to right, black 20%, transparent 100%);
	transition: all 1.7s ease 0s;
}
.story_2_3 {
	opacity: 0;
	background: linear-gradient(to right, black 40%, transparent 100%);
	transition: all 1.0s ease 0s;
}
.story_2_4 {
	opacity: 0;
	background: linear-gradient(to right, black 50%, transparent 100%);
	transition: all 0.3s ease 0s;
}	
.new__life_1 img {
	max-width: 100%;
}
.new__life_2 {
	position: relative;
	transform: scale(1);
	transition: all 1s ease 0s;
}
.text_3 {
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	font-family: 'Montserrat', sans-serif;
	color: white;
	padding: 5px;
	opacity: 1;
	background: rgb(0, 0, 0, 0.65);
	transition: all 7s ease 0s;
	font-size: 0.85vw;
}
.story_3 {
	position: absolute;
	max-width: 100%;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.story_3 p {
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 0.85vw;
	padding: 10px;
	margin: 20px;
}
.story_3_1 {
	opacity: 0;
	background: linear-gradient(to right, black 10%, transparent 100%);
	transition: all 2.4s ease 0s;
}
.story_3_2 {
	opacity: 0;
	background: linear-gradient(to right, black 20%, transparent 100%);
	transition: all 1.7s ease 0s;
}
.story_3_3 {
	opacity: 0;
	background: linear-gradient(to right, black 40%, transparent 100%);
	transition: all 1.0s ease 0s;
}
.new__life_2 img {
	max-width: 100%;
}
.last__life:hover {
	transform: translateX(-30px) scale(1.05);
	transition: all 1s ease 0s;
}
.last__life:hover .text_1 {
	opacity: 0;
	transition: all 1s ease 0s;
}
.last__life:hover .story_1_1 {
	opacity: 1;
	transition: all 0.3s ease 0s;
}
.last__life:hover .story_1_2 {
	opacity: 1;
	transition: all 1s ease 0s;
}
.last__life:hover .story_1_3 {
	opacity: 1;
	transition: all 1.7s ease 0s;
}
.last__life:hover .story_1_4 {
	opacity: 1;
	transition: all 2.4s ease 0s;
}
.last__life:hover .story_1_5 {
	opacity: 1;
	transition: all 3.1s ease 0s;
}
.last__life:hover .story_1_6 {
	opacity: 1;
	transition: all 3.8s ease 0s;
}
.last__life:hover .story_1_7 {
	opacity: 1;
	transition: all 4.5s ease 0s;
}
.last__life:hover .story_1_8 {
	opacity: 1;
	transition: all 5.4s ease 0s;
}
.new__life_1:hover {
	transform: translate(15px, -15px) scale(1.05);
	transition: all 1s ease 0s;
}
.new__life_1:hover .text_2 {
	opacity: 0;
	transition: all 1s ease 0s;
}
.new__life_1:hover .story_2_1 {
	opacity: 1;
	transition: all 0.3s ease 0s;
}
.new__life_1:hover .story_2_2 {
	opacity: 1;
	transition: all 1s ease 0s;
}
.new__life_1:hover .story_2_3 {
	opacity: 1;
	transition: all 1.7s ease 0s;
}
.new__life_1:hover .story_2_4 {
	opacity: 1;
	transition: all 2.4s ease 0s;
}
.new__life_2:hover {
	transform: translate(15px, 15px) scale(1.05);
	transition: all 1s ease 0s;
}
.new__life_2:hover .text_3 {
	opacity: 0;
	transition: all 1s ease 0s;
}
.new__life_2:hover .story_3_1 {
	opacity: 1;
	transition: all 0.3s ease 0s;
}
.new__life_2:hover .story_3_2 {
	opacity: 1;
	transition: all 1s ease 0s;
}
.new__life_2:hover .story_3_3 {
	opacity: 1;
	transition: all 1.7s ease 0s;
}
@media (max-width: 1600px){
	.new__life {
		flex: 0 0 32.35%;
	}
}
@media (max-width: 1440px){
	.new__life {
		flex: 0 0 32.26%;
	}
}
@media (max-width: 1280px){
	.new__life {
		flex: 0 0 32.11%;
	}
	.story_1 p {
		font-size: 0.84vw;
		margin: 15px;
		padding: 13px;
	}
	.story_2 p {
		font-size: 0.83vw;
		margin: 13px;
		padding: 11px;
	}
	.story_3 p {
		font-size: 0.84vw;
		margin: 15px;
		padding: 13px;
	}
}
@media (max-width: 1180px){
	.new__life {
		flex: 0 0 32%;
	}
}
@media (max-width: 1130px){
	.story_1 p {
		font-size: 0.83vw;
		margin: 13px;
		padding: 12px;
	}
	.story_2 p {
		font-size: 0.82vw;
		margin: 11px;
		padding: 9px;
	}
	.story_3 p {
		font-size: 0.83vw;
		margin: 13px;
		padding: 12px;
	}
}
@media (max-width: 1080px){
	.new__life {
		flex: 0 0 31.85%;
	}
}
@media (max-width: 1030px){
	.story_1 p {
		font-size: 0.82vw;
		margin: 11px;
		padding: 10px;
	}
	.story_2 p {
		font-size: 0.81vw;
		margin: 10px;
		padding: 8px;
	}
	.story_3 p {
		font-size: 0.82vw;
		margin: 11px;
		padding: 10px;
	}
}
@media (max-width: 980px){
	.new__life {
		flex: 0 0 31.65%;
	}
}
/*РАЗДЕЛ ПОРТФОЛИО*/
.body__portfolio {
	

	
	max-width: 100%;
	padding: 0px 50px 0px 50px;
}
.container__portfolio {
	
	
}
.portfolio {
	overflow: hidden;
}
.slider {
	display: flex;
	transition: all 1s ease 0s;
}
.slider__item {
	outline: none;
	padding: 10px 10px 10px 10px;
	transition: all 1s ease 0s;
	text-align: center;
  	height: 500px;
}
.slider__item img {
	max-width: 1000px;
  	height: 100%;
}
.arrows {
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0px auto;
	padding: 0px 160px;

}
.arrows .prev {
	background: url('img/back.png') 0 0 / 90% no-repeat;
	padding: 50px 50px 50px 50px;
	transform: scale(1);
	transition: all 1s ease 0s;
}
.arrows .next {
	background: url('img/forward.png') 0 0 / 90% no-repeat;
	padding: 50px 50px 50px 50px;
	transform: scale(1);
	transition: all 1s ease 0s;
}
.arrows .prev:hover {
	transform: scale(0.95);
	transition: all 1s ease 0s;
}
.arrows .next:hover {
	transform: scale(0.95);
	transition: all 1s ease 0s;
}
.arrows .prev,.prev:active,.prev:focus {
	outline: none;
}
.arrows .next,.next:active,.next:focus {
	outline: none;
}
.disable {
	pointer-events: none;
	cursor: none;
}
.portfolio__image {
	
}
.portfolio__image img {
	max-width: 100%;
	max-height: 600px;
}
.portfolio__videos {
	
}
.portfolio__videos video {
	outline: none
}
.portfolio__video {
	
}
.portfolio__video video {
	outline: none
}
@media (max-width: 1600px){
	
	.slider__item {
  		height: 400px;
	}
	.arrows .prev {
		background: url('img/back.png') 0 0 / 85% no-repeat;
	}
	.arrows .next {
		background: url('img/forward.png') 0 0 / 85% no-repeat;
	}
}
@media (max-width: 1400px){
	.slider__item {
  		height: 300px;
	}
	.arrows .prev {
		background: url('img/back.png') 0 0 / 70% no-repeat;
	}
	.arrows .next {
		background: url('img/forward.png') 0 0 / 70% no-repeat;
	}
	.arrows {
		max-height: 80px;
	}
}
@media (max-width: 1200px){
	.slider__item {
  		height: 250px;
	}
	.arrows .prev {
		background: url('img/back.png') 0 0 / 55% no-repeat;
	}
	.arrows .next {
		background: url('img/forward.png') 0 0 / 55% no-repeat;
	}
	.arrows {
		max-height: 60px;
	}
}
/*РАЗДЕЛ БЛОГ*/
.container__blog {
	max-width: 1700px;
	display: flex;
	justify-content: center; 
	align-items: center;
	flex-wrap: wrap;
	font-family: 'Montserrat', sans-serif;
}
.blog {
	width: 400px;
	margin: 40px 40px 40px 40px;
	padding: 20px 20px 20px 20px;
	border: 1px solid #999;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	color: white;
}
.read__post {
	padding: 20px 20px 20px 20px;
}
.read__post a {
	outline: none;
	text-decoration: none;
	color: white;
}
.read__post a button {
	width: 100px;
	border: 0;
  	border-radius: 5px;
  	background: #008000;
  	color: #fff;
  	padding: 8px 16px;
  	font-size: 16px;
  	transform: scale(1);
  	transition: all 1s ease 0s;
}
.read__post a button:hover {
	transform: scale(1.05);
	transition: all 1s ease 0s;
}
.post {
	width: 300px;
	margin: 40px 40px 40px 40px;
	padding: 20px 20px 20px 20px;
	border: 1px solid #999;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	color: white;
	font-family: 'Montserrat', sans-serif;
}
/*РАЗДЕЛ ЗАГРУЗКА ФОТО  И ВИДЕО В ПОРТФОЛИО И СОЗДАНИЕ ЗАПИСЕЙ В БЛОГЕ*/
.form__container {
	max-width: 400px;
	width: 100%;

}
.upload__form {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}
.title__style {
	border: 1px solid #ccc; 
    border-radius: 5px;
    height: 50px;
    width: 100%;
    margin: 40px 40px 40px 0;
}
.body__style {
	margin-left: 40px;
}
.post__title__style {
	border: 1px solid #ccc; 
    border-radius: 5px;
    height: 25px;
    width: 100%;
    margin: 40px 40px 40px 0;
}
.post__body__style {
	border: 1px solid #ccc; 
    border-radius: 5px;
    height: 100px;
    width: 100%;
    margin: 40px 40px 40px 0;
}
.upload__form button {
	margin-top: 60px;
  	border: 0;
  	border-radius: 5px;
  	background: #000;
  	color: #fff;
  	padding: 8px 16px;
  	font-size: 16px;
	transform: scale(1);
  	transition: all 1s ease 0s;
}
.error {
	margin-top: 20px;
	list-style: none;
	color: red;
}	
.upload__form button:hover {
	transform: scale(1.05);
	transition: all 1s ease 0s;
}
.upload__form button:focus {
	outline: none;
  	box-shadow: 0 0 0 4px #cbd6ee;
}
/*РАЗДЕЛ ПАНЕЛЬ АДМИНИСТРАТОРА*/
.admin__panel {
	display: flex;
	flex-direction: column;
	position: fixed;
	border: 1px solid #999;
	border-radius: 2px;
	right: 50px;
	bottom: 30px;
	padding: 15px;
	opacity: 0.5;
}
.admin__panel:hover {
	opacity: 1;
}
.admin__panel a {
	margin: 5px 0;
}
.admin__panel .button__admin button{
	width: 100px;
	border: 0;
  	border-radius: 5px;
  	background: #008000;
  	color: #fff;
  	padding: 8px 16px;
  	font-size: 16px;
}
.admin__panel .button__admin button:hover {
	opacity: 0.6;
}
.admin__panel .button__admin button:focus {
	outline: none;
  	box-shadow: 0 0 0 4px #cbd6ee;
}
.admin__panel .button__upload {
	display: none;
}
.admin__panel .button__upload button {
	width: 100px;
	border: 0;
  	border-radius: 5px;
  	background: #0000ff;
  	color: #fff;
  	padding: 8px 16px;
  	font-size: 16px;
}
.admin__panel .button__upload button:hover {
	opacity: 0.6;
}
.admin__panel .button__upload button:focus {
	outline: none;
  	box-shadow: 0 0 0 4px #cbd6ee;
}
.admin__panel .button__delete {
	display: none;
}
.admin__panel .button__delete button {
	width: 100px;
	border: 0;
  	border-radius: 5px;
  	background: #ff0000;
  	color: #fff;
  	padding: 8px 16px;
  	font-size: 16px;
}
.admin__panel .button__delete button:hover {
	opacity: 0.6;
}
.admin__panel .button__delete button:focus {
	outline: none;
  	box-shadow: 0 0 0 4px #cbd6ee;
}
/*РАЗДЕЛ СТРАНИЦА УДАЛЕНИЯ ФОТО И ВИДЕО*/
.delete__form {
    font-family: Avenir, sans-serif;
}
.delete__form .button__cancel button {
	margin-top: 60px;
  	border: 0;
  	border-radius: 5px;
  	background: #000;
  	color: #fff;
  	padding: 8px 16px;
  	font-size: 16px;
}
.delete__form .button__cancel button:hover {
	opacity: 0.6;
}
.delete__form .button__cancel button:focus {
	outline: none;
  	box-shadow: 0 0 0 4px #cbd6ee;
}
.delete__form button {
	width: 100px;
	border: 0;
  	border-radius: 5px;
  	background: #ff0000;
  	color: #fff;
  	padding: 8px 16px;
  	font-size: 16px;
  	margin-left: 10px;
}
.delete__form button:hover {
	opacity: 0.6;
}
.delete__form button:focus {
	outline: none;
  	box-shadow: 0 0 0 4px #cbd6ee;
}
/*РАЗДЕЛ КОНТАКТЫ(ФУТЕР)*/
.container__footer {
	max-width: 1200px;
	margin: 0px auto;
	padding: 0px 160px;
}
.footer {
	flex: 0 0 auto;
}

.footer img {
	padding: 0px 15px 25px 0px;
	transition: all 1s ease;
}
.footer a {
	text-decoration: none;
	outline: none;
}
.footer__link:hover img {
	transform: translateY(-5px);
	transition: all 1s ease;
}
.back__first {
	margin: 0px 0px 61px 0px;
	display: none;
	text-decoration: none;
	outline: none;
	color: white;
	font-family: 'Montserrat', sans-serif;
	transform: scale(1);
	transition: all 1s ease;
}
.back__first:hover {
	transform: scale(1.05);
	transition: all 1s ease;
}
.back__second {
	margin: 0px 0px 61px 0px;
	display: none;
	text-decoration: none;
	outline: none;
	color: white;
	font-family: 'Montserrat', sans-serif;
	transform: scale(1);
	transition: all 1s ease;
}
.back__second:hover {
	transform: scale(1.05);
	transition: all 1s ease;
}
.back__third {
	margin: 0px 0px 61px 0px;
	display: none;
	text-decoration: none;
	outline: none;
	color: white;
	font-family: 'Montserrat', sans-serif;
	transform: scale(1);
	transition: all 1s ease;
}
.back__third:hover {
	transform: scale(1.05);
	transition: all 1s ease;
}
.back__fourth {
	margin: 0px 0px 61px 0px;
	display: none;
	text-decoration: none;
	outline: none;
	color: white;
	font-family: 'Montserrat', sans-serif;
	transform: scale(1);
	transition: all 1s ease;
}
.back__fourth:hover {
	transform: scale(1.05);
	transition: all 1s ease;
}
@media (max-width: 1400px){
	.back__first {
		font-size: 14px;
	}
	.back__second {
		font-size: 14px;
	}
	.back__third {
		font-size: 14px;
	}

	.back__fourth {
		font-size: 14px;
	}
}
@media (max-width: 1200px){
	.back__first {
		font-size: 13px;
	}
	.back__second {
		font-size: 13px;
	}
	.back__third {
		font-size: 13px;
	}

	.back__fourth {
		font-size: 13px;
	}
}