{% extends 'blog/base_blog.html' %}
{% load static %}
{% block content %}
	<div class="form__container">
		<form action="{% url 'post_create_url' %}" method="post" autocomplete="off" class="upload__form">
			{% csrf_token %}
			{% for field in form %}
			<div class="">
				{{ field.label }}
				{% if field.errors %}
					<div class="error">
						{{ field.errors}}
					</div>
				{% endif %}
				{{ field }}
			</div>
			{% endfor %}
			<button type="submit">Create</button>
		</form>
	</div>
{% endblock %}
