{% extends 'all/base_all.html' %}
{% load static %}
{% block content %}
	<div>
		<img src="{% static 'img/титульная страница.jpg' %}" width="100%">
	</div>
	<div class="container">
		<div class="advantages__title">
			<h2>ПРЕИМУЩЕСТВА</h2>
			<h1 class="underline">__________</h1>
		</div>
		<section class="advantages">
			<div class="margin__top">
				<div class="advantages__items">
					<div class="advantages__image">
						<img src="{% static 'img/Layer 1.png' %}" alt="">
					</div>
					<div class="advantages__body">
						<div class="advantages__label"><p>Преимущество №1</p></div>
						<div class="advantages__text">
							Особый подход к каждому клиенту. Вы будете приятно удивлены тому, как приятно со мной работать.
						</div>
					</div>
				</div>
				<div class="advantages__items">
					<div class="advantages__image">
						<img src="{% static 'img/layer 2.png' %}" alt="">
					</div>
					<div class="advantages__body">
						<div class="advantages__label">Преимущество №2</div>
						<div class="advantages__text">
							Качество выполнения работы. Поработав со мной, вы не захотите обращаться к другим специалистам.
						</div>
					</div>
				</div>
				<div class="advantages__items">
					<div class="advantages__image">
						<img src="{% static 'img/Layer 3.png' %}" alt="">
					</div>
					<div class="advantages__body">
						<div class="advantages__label">Преимущество №3</div>
						<div class="advantages__text">
							Широкий спектр возможностей. Я могу воплотить в жизнь Ваши самые разные задумки.
						</div>
					</div>
				</div>
			</div>
			<div class="advantages__image_2">
				<img src="{% static 'img/Слой 2.png' %}" alt="">
			</div>
		</section>
	</div>
	<div class="services__title">
		<h2>НАШИ УСЛУГИ</h2>
		<h1 class="underline">_________</h1>
	</div>
	<div class="container__services">
		<section class="services">
			<div class="slider">
				<div class="slider__item">
					<img src="{% static 'img/services9.png' %}" alt="">
					<div class="editing">
						<div class="videoediting__container">
							<h2>Видеомонтаж</h2>
							<p class="videoediting__text">У вас есть видео с Вашего праздника или другого мероприятия? Мы рады смонтировать фильм или небольшой ролик для Вас.</p>
							<p class="underline">________________________________</p>
							<p class="videoediting__price">5000 руб/ч</p>
						</div>
					</div>	
				</div>
				<div class="slider__item">
					<img src="{% static 'img/services8.png' %}" alt="">
					<div class="video">
						<div class="video__container">
							<h2>Видеосъемка</h2>
							<p class="video__text">Вам нужно запечатлеть на видео и сохранить на долгие годы свой праздник, мы рады в этом помочь.</p>
							<p class="underline">________________________________</p>
							<p class="video__price">2000 руб/ч</p>
						</div>
					</div>
				</div>
				<div class="slider__item">
					<img src="{% static 'img/services7.png' %}" alt="">
					<div class="foto">
						<div class="foto__container">
							<h2>Фотосъемка</h2>
							<p class="foto__text">У вас запланировано мероприятие, и вы хотите получить фотоотчет? Тогда мы идем к вам!</p>
							<p class="underline">________________________________</p>
							<p class="foto__price">10000 руб/ч</p>
						</div>
					</div>
				</div>
				<div class="slider__item">
					<img src="{% static 'img/services6.png' %}" alt="">
				</div>
				<div class="slider__item">
					<img src="{% static 'img/services6.png' %}" alt="">
				</div>
			</div>
		</section>
	</div>
	<div class="background">
		<div class="portfolio__title">
			<h2>ПОРТФОЛИО</h2>
			<h1 class="underline">________</h1>
		</div>
		<div class="container__portfolio">
			<section class="portfolio">
				<div class="second__slider">
					{% for image in images %}
					<div class="second__slider__item">
						<a href="{{ image.get_absolute_url }}"><img src="{{ image.body.url }}" alt="{{ uploadimg.title }}"></a>
					</div>
					{% endfor %}
				</div>
			</section>
		</div>
	</div>
{% endblock %}