<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>Diamond Whiskey</title>
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="header__body">
				<a href="{% url 'website' %}" class="header__name">
					<h1>Diamond Whiskey</h1>
				</a>
				<div class="header__burger">
					<span></span>
				</div>
				<nav class="header__menu">
					<ul class="header__list">
						<li>
							<a href="{% url 'main' %}" class="header__link">ГЛАВНАЯ</a>
						</li>
						<li>
							<a href="{% url 'services' %}" class="header__link">УСЛУГИ</a>
						</li>
						<li>
							<a href="{% url 'portfolio_url' %}" class="header__link">ПОРТФОЛИО</a>
						</li>
						<li>
							<a href="" class="header__link">ОТЗЫВЫ</a>
						</li>
						<li>
							<a href="" class="header__link">КОНТАКТЫ</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<main>
		<div>
			{% block content %}
			{% endblock %}
		</div>
		{% if request.user.is_authenticated and request.user.is_staff %}
			<div class="admin__panel">
				<a href="/admin" class="button__admin"><button>Admin</button></a>
				<a href="{% url 'upload_image_url' %}" class="button__upload" style="{% if detail %}display:block{% endif %}"><button>Upload</button></a>
				<a href="{{ admin_object.get_delete_url }}" class="button__delete" style="{% if delete %}display:block{% endif %}"><button>Delete</button></a>
			</div>
		{% endif %}
	</main>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="{% static 'js/slick.min.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>	
</body>
</html>