{% extends 'main/base_main.html' %}
{% load static %}
{% block content %}
<div class="container_2">
	<div class="main__page">
		<div class="last__life">
			<div class="text_1">
				<h2>Кто я такой? Ответ здесь!</h2>
			</div>
			<div class="story_1">
				<p class="story_1_1">Меня зовут Иван Таран. В 2013 году я закончил РГУ нефти и газа им. Губкина.</p>
				<p class="story_1_2">Моя специальность - инженер-проектировщик.</p>
				<p class="story_1_3">Одно время я работал в АО "Черномортранснефть" инженером службы промышленной безопасности.</p>
				<p class="story_1_4">После, в ООО "Лотис", компании, которая занималась зачисткой резервуаров на нефтебазах.</p>
				<p class="story_1_5">Я занимал должность бригадира. Руководил бригадой механиков.</p>
				<p class="story_1_6">В январе 2020 года эта компания прекратила свою деятельностью.</p>
				<p class="story_1_7">Я понял, что у меня есть шанс заняться чем-то новым и более интересным.</p>
				<p class="story_1_8">Более подробно узнать обо мне Вы сможете в разделах <a href="{% url 'portfolio_url' %}" class="story__link">"Фотокарточки"</a> и <a href="{% url 'blog_url' %}" class="story__link">"Блог"</a></p>
			</div>
		<img src="{% static 'img/oil3.jpg' %}">	
		</div>
		
		<div class="new__life">
			<div class="new__life_1">
				<div class="text_2">
					<h4>Какие у меня цели? Ответ здесь!</h4>
				</div>
				<div class="story_2">
					<p class="story_2_1">Я хочу построить новую карьеру в области программирования.</p>
					<p class="story_2_2">Я готов учиться новому и развивать уже приобретенные навыки.</p>
					<p class="story_2_3">Я готов работать в коллективе, учиться у своих будущих коллег.</p>
					<p class="story_2_4">Я бесконечно благодарен своей семье за поддержку в своем начинании.</p>
				</div>
			<img src="{% static 'img/code.jpg' %}" >	
			</div>
			
			<div class="new__life_2">
				<div class="text_3">
					<h4>Что же Вы узнаете на этом сайте? Ответ здесь!</h4>
				</div>
				<div class="story_3">
					<p class="story_3_1">В разделе <a href="{% url 'portfolio_url' %}" class="story__link">"Фотокарточки"</a> Вы можете познакомиться со мной. Увидеть где я работал раньше, а также немного узнать о моих интересах.</p>
					<p class="story_3_2">В разделе <a href="{% url 'blog_url' %}" class="story__link">"Блог"</a> я расскажу о том, как писал этот сайт, какими инструментами пользовался.</p>
					<p class="story_3_3">В разделе <a href="#" class="story__link">"Контакты"</a> есть вся контактная информация для связи со мной.</p>
				</div>
			<img src="{% static 'img/code2.jpg' %}" >	
			</div>
			
		</div>
	</div>
</div>
{% endblock %}